@import 'bourbon';
@import 'neat';

@import 'shared';
@import 'base';
@import 'fonts';

@import 'modules/animation';
@import 'modules/incompatible-browser';
@import 'modules/loader';
@import 'modules/version';


.home {
  width: 100%;
}

.userinfo {
  width: 600px;
  margin: auto;
}

.inline {
  display: inline-block;
}

.scroll {
  padding: 6px;
  position: relative;
  top: -20px;
}

.user {
}

.userlist {
  padding-right: 34px;
  list-style-type: none;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.85em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.85em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.image-round {
    border-radius:50%;
}


.photo {
    $spinner: 'assets/images/spinner.gif';
    background:#fff inline($spinner) center 30px no-repeat;
    border:1px solid rgba(0, 0, 0, .15);
    border-radius:3px;
    margin:0 10px 10px 0;
    position:relative;
}

.photo .photo-index {
    background:rgba(0, 0, 0, .9);
    color:#fff;
    position:absolute;
    height:100%;
    text-align:center;
    width:100%;
    z-index:99;
}

.photo .photo-index p:first-child {
    margin-top:10px;
}

.photo .photo-wrapper {
    min-height:60px;
}

.photo .photo-description {
    padding:15px;
    overflow: wrap;
    width: 200px;
}

.deckgrid {
    color: #000;
    margin:100px auto;
    padding:10px;
    width:1500px;
}

.deckgrid[deckgrid]::before {
    content: '5 .column.size-1-5';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column.size-1-5 {
    width:200px;
}

.deckgrid .column.size-1-4 {
    width:200px;
}

.deckgrid .column.size-1-3 {
    width:250px;
}

.deckgrid .column.size-1-2 {
    width:250px;
}

.deckgrid .column.size-1-1 {
    width:280px;
}


@media screen and (max-width: 1024px) {
    .deckgrid {
        width:900px;
    }

    .deckgrid[deckgrid]::before {
        content: '4 .column.size-1-4';
    }
}

@media screen and (max-width: 840px) {
    .deckgrid {
        width:800px;
    }

    .deckgrid[deckgrid]::before {
        content: '3 .column.size-1-3';
    }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
    .deckgrid {
        margin:100px auto;
        width:600px;
    }

    .deckgrid[deckgrid]::before {
        content: '2 .column.size-1-2';
    }
}

@media only screen and (max-device-width : 320px),
       only screen and (max-width : 480px) {

    .l-header {
        font-size:80%;
        margin-top:145px;
        padding:5px;
        text-align:center;
    }

    .deckgrid {
        width:280px;
    }

    .deckgrid[deckgrid]::before {
        content: '1 .column.size-1-1';
    }
}

@keyframes flicker {
	from {
		opacity: 0.5;
	}
	4% {
		opacity: 0.5;
	}
	6% {
		opacity: 0.45;
	}
	8% {
		opacity: 0.55;
	}
	10% {
		opacity: 0.45;
	}
	11% {
		opacity: 0.5;
	}
	12% {
		opacity: 0.65;
	}
	14% {
		opacity: 0.55;
	}
	16% {
		opacity: 0.70;
	}
	17% {
		opacity: 0.55;
	}
	19% {
		opacity: 0.5;
	}
	20% {
		opacity: 0.5;
	}
	24% {
		opacity: 0.5;
	}
	26% {
		opacity: 0.69;
	}
	28% {
		opacity: 0.5;
	}
	38% {
		opacity: 0.45;
	}
	40% {
		opacity: 0.5;
	}
	42% {
		opacity: 0.6;
	}
	44% {
		opacity: 0.5;
	}
	46% {
		opacity: 0.5;
	}
	56% {
		opacity: 0.5;
	}
	58% {
		opacity: 0.75;
	}
	60% {
		opacity: 0.5;
	}
	68% {
		opacity: 0.5;
	}
	70% {
		opacity: .6; /*peak*/
	}
	72% {
		opacity: 0.5;
	}
	93% {
		opacity: 0.5;
	}
	95% {
		opacity: .6; /*peak*/
	}
	97% {
		opacity: 0.5;
	}
	to {
		opacity: 0.5;
	}
}

.flickring {
  margin-left: 200px;
  animation-name: flicker;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
