<br><br>
<div class="home">
  
  
  
  <div class="userinfo">
    <h1 class="flickring">Flickring</h1>
    <span ng-click="clickLeft($event)" class="chevron left inline scroll"></span>
    <ul class="userlist inline">
      <li><span class="user">Customer: {{ appData[current].CustomerName }}</span></li>
    
      <li><span class="user">Customer ID: {{ appData[current].CustomerID }}</span></li>
    
      <li><span class="user">Location: {{ appData[current].PrimaryAddress.CITY }}, {{ appData[current].PrimaryAddress.STATE }}</span></li>
    </ul>
    <span ng-click="clickRight($event)" class="chevron right inline scroll"></span>
  </div>
  
  <div deckgrid source="images" class="deckgrid">
    <div class="photo">
      <div class="photo-wrapper">
        <img src="" ng-src={{card.src}}>
      </div>
      <div class="photo-description">
        <h3>{{card.title}}</h3>
      </div>
    </div>
  </div>
  
  <!-- 
  <ul>
    <li ng-repeat="i in images track by $index">
      <p>{{i.alt}}</p>
      <img ng-src={{i.url}} alt={{i.alt}}>
      
    </li>
  </ul>
   -->
   
</div>
